@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root {
	--darkblue: #522258;
	--pink: #C63C51;
	--orange: #D95F59;
	--dark-red: #821131;
	--purple: #8C3061;
	--white: #ebebeb;
}
* {
	font-family: "Lora", serif;
	font-style: normal;
	font-weight: 400;
	color: black;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--dark-red);
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
p {
	font-size: 28px;
	text-align: center;
}
img {
	max-width: 120%;
}
.fadein {
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.title {
	width: 100%;
	padding: 10px 0;
	background-color: #eee;
}
h1 {
	font-size: 48px;
	width: 100%;
	text-align: center;
}
button {
	font-size: 20px;
	background-color: inherit;
	border: none;
	padding: 4px 16px;
	outline: none;
	margin-bottom: 10px;
	cursor: pointer;
	background-color: var(--dark-red);
	color: var(--white);
}
button:hover {
	background-color: #ccc;
}
button:active {
	background-color: var(--dark-red);
}
.center {
	display: flex;

	justify-content: center;
	align-items: center;
}

.tag {
	opacity: 0;
	height: fit-content;
	transform: translate(0, 20vh);
	width: 100%;
	transition: all 1s;
	background-color: var(--white);
}
.tag.visible {
	opacity: 1;
	transform: translate(0, 0);
}
.backgroundfill > img {
	width: 100%;
}
.second / .third{
	padding-top: 5px;
}
.flexdirrow {
	display: flex;
	flex-direction: row;
}

.wwd {
	max-width: 50%;
}
.third {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.fourth {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lastdiv {
	margin-bottom: 45px;
}
.whatsapp {
	width: 5vh;
	height: 5vh;
}
.gmail {

	width: 5.5vh;
	height: 4.5vh;
}
.display-contact {
	
	display: flex;
	align-items: center;
}

.display-contact > * {
	margin: 20px;
	align-self: center;
	
}
.inline2 {
	padding: 20px 20px 0 ;
}
.inline2 button {
	margin: 0;
}